<!DOCTYPE html>
<html>
<head>
  <title>QuizPad Login</title>
  <!-- Source code is kept open for the learners... -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta name="google-signin-client_id" content="567112201060-i34emibvl8p17rrgh1trctlgvn8n2o19.apps.googleusercontent.com"> -->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="css/login.css" rel="stylesheet" type="text/css">

  <script src="js/main.js" defer></script>

</head>
<body class="w3-black">


  <div class="w3-center w3-margin w3-text-blue" style="font-size: 500%;"> 
    QUIZPAD
  </div>

  <div class="w3-center w3-padding" style="width:30%;margin-left:auto;margin-right:auto"> 
    <form class="w3-login" name="login_form" onsubmit="event.preventDefault();">
      <!-- <div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="avatar">
      </div> -->
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
    
        <button type="button" onclick="attemptLogin()">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
        <span class="psw ">Forgot <a href="#">password?</a></span>
      </div>
    
      
    </form> 
  </div>

</body>
</html>

